<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Com.OneSignal" version="3.9.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.AppCenter" version="3.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.AppCenter.Analytics" version="3.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.AppCenter.Crashes" version="3.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.AppCenter.Push" version="3.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.0-preview.6.20305.6" targetFramework="portable45-net45+win8+wp8" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="portable45-net45+win8+wp8" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="portable45-net45+win8+wp8" />
  <package id="Plugin.Multilingual" version="1.1.6-beta" targetFramework="portable45-net45+win8+wp8" />
  <package id="SampleBrowser.Core" version="18.1.0.42" targetFramework="portable45-net45+win8+wp8" />
  <package id="Syncfusion.Licensing" version="18.2.0.44" targetFramework="portable45-net45+win8+wp8" />
  <package id="Syncfusion.Xamarin.Cards" version="18.2.0.44" targetFramework="portable45-net45+win8+wp8" />
  <package id="Syncfusion.Xamarin.Core" version="18.2.0.44" targetFramework="portable45-net45+win8+wp8" />
  <package id="Syncfusion.Xamarin.DataSource" version="18.2.0.44" targetFramework="portable45-net45+win8+wp8" />
  <package id="Syncfusion.Xamarin.GridCommon" version="18.2.0.44" targetFramework="portable45-net45+win8+wp8" />
  <package id="Syncfusion.Xamarin.SfListView" version="18.1.0.42" targetFramework="portable45-net45+win8+wp8" />
  <package id="Syncfusion.Xamarin.SfNavigationDrawer" version="18.1.0.42" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.IO" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Runtime" version="4.3.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Essentials" version="1.5.3.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="4.8.0.1143-pre1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms.GoogleMaps" version="3.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms.Maps" version="4.8.0.1143-pre1" targetFramework="portable45-net45+win8+wp8" />
</packages>